@{
    ViewData["Title"] = "Weather Page";
}

<h1 class="display-4">Weather</h1>
<pre>@ViewBag.Weather</pre>
<h3>Weather Data</h3>
<p>Date: @ViewData["Date"]</p>
<p>Max Temperature: @ViewData["MaxTemp"]°C</p>

